
<div class = "row">
  <div class="col-md-8 col-md-offset-2">
    <div class="course-nav">
      <ul>
        <li>全カリ</li>
        <li>経営学部</li>
      </ul>
    </div>
    <div class="current_courses">
      <% if @current_courses.any? %>
      <ul>
        <% @current_courses.each do |current_course| %>
        <li><%= link_to current_course.course_name, course_path(current_course) %></li>
        <% end %>
      </ul>

        <% elsif @current_courses.empty? %>
      <h3>現在講義中の授業はありません</h3>
        <% end %>
    </div>

  </div>
</div>



