

<% flash.each do |message_type, message| %>
<!-- <div class="alert alert-<%#= message_type %>">-->
  <%#= message %>
<!-- </div>-->
  <p style="text-align: center" class="alert-success"><%= notice %></p>
  <p style="text-align: center" class="alert-danger"><%= alert %></p>
  <% end %>
