@import "bootstrap-sprockets";
@import "bootstrap";　
html,body{
  height: 100vh;
}
body {
  margin-top: 60px;



}
.bg_show{
  background-color: #e8e8e8;
}

.bg_home {
  background-image: url('https://images.unsplash.com/photo-1477281765962-ef34e8bb0967?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1532&q=80');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  //background-color: gray;
  height: 100%;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}
.container {
  width: 100%;


}




.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
ul{
  list-style: none;
}
ul li{
  font-size: 30px;
  display: inline;
}

.course-btn{
  //width :50px;
  //height: 30px;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}


#logo:hover {
  color: #fff;
  text-decoration: none;
}


.link_to {
  float: right;
  font-size: 1.5em;
  color: white;
  margin: 10px 10px;
  font-weight: bold;
    &:hover{
      color: #999999;
    }
}

.input-name{
  width: 100%;
  margin-bottom: 15px;
}
.input-period{
  width:50px;
}

.submit-btn{
  margin-top: 15px;
  width: 40%;
}

.course-form{
  margin-top: 40px;
}

@mixin box_sizing{
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump{
  clear:both;
  float: right;
  width:100%;
  mergin_top: 45px;
  @include box_sizing
}

.courses {
  margin-top: 30px;
  border-bottom: solid;
  border-color: #999999;
  li {
    font-size: 30px;
  }
}

li{
  list-style: none;
}

.home_logo{
  margin-top: 10% ;
}

//course#show
.micropost_container{
  ol{
    padding-left: 0px;
  }
}

.micropost_text{
    background-color: white;
    padding: 20px;
    margin-bottom: 5px;
  .content{
    display: block;
    text-align: center;
    margin-bottom: 0px;
    word-wrap: break-word;
    font-size: 15px;
  }
  .content_name{
    display: block;
    text-align: left;
    font-size: 14px;
    padding-left: 20px;
    padding-bottom: 10px;
  }
  .timestamp{
    text-align: right;
    margin-top: 10px;
    padding-right: 20px;
    font-size: 15px;
    color: gray;
    display: block;
  }
 }

.content-form-block{
  text-align: center;
  margin-bottom: 20px;
  .content-form{
    width: 100%;
    height: 50px;
   display: block;
    font-size: large;
    text-align: center;
  }
}

.content-btn{
  margin-top: 10px;
}

.course-nav{
  height: 80px;
  width: 100%;
  background-color: #2E2F30;
  text-align: left;
  ul {
    padding-top: 20px;
    li {
      color: white;
      padding-right: 15px;
    }
  }
}

.current_courses{
  text-align: center;
  width : 100%;
  height: 160px;
}