// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.show-wrapper{
  margin-top: 80px;
  width: 100%;
  //height: 100vh;
  border-right: 2px solid #f1f1f1;

}
.show-header{
  background-color: white;
  border-bottom: #f1f1f1;
  width: 100vw;
  height: 80px;
  position: fixed;
  border-bottom: 2px solid #f1f1f1;
  overflow: hidden;
  z-index: 99;
  .show-logo{
    padding: 30px 10px;
    width: 70vw;
    display: inline-block;
    h3{
      margin-top: 30px;
      margin-left: 30px;
      padding-top: 20px;
      display: inline;
      font-size: 3rem;
      span{
        font-size: 1.5rem;
        margin-left: 20px;
      }
    }
  }
  .btn-wrapper{
    height: 100%;
    padding: 20px;
    margin-right: 20px;
    display: block;
    .btn{
      height: 40px;
      width: 120px;
      border-radius: 3rem;
      color: white;
    }
    .course-cancel-btn{
      background-color: #666666;
    }
  }
}

.micropost_container{

  width: 100%;
  min-height:75vh;
  border-right: 2px solid #f1f1f1;
  overflow: scroll;
  z-index: 1;
  ol{
    padding-left: 0px;
  }
}

.micropost_text{
  height: auto;
  background-color: white;
  padding: 20px 10px 20px 10px;
  z-index: 0;
  .content-wrapper{
    height: 100%;
    padding-top: 10px;

  }
  .content{
    display: block;
    text-align: left;
    margin: 0px;
    word-wrap: break-word;
    font-size: 15px;
    height: 100%;
    width: 40vw;
  }
  .user_name{
    display: block;
    text-align: left;
    font-size: 50px;
    height:100%;
    margin: 0;
  }
  .timestamp{
    text-align: left;
    margin-top: 10px;
    padding-right: 20px;
    font-size: 10px;
    color: gray;
    display: block;
  }
}

.content-form-block{
  border-right: 2px solid #f1f1f1;
  margin-top: 80px;
  text-align: center;


  z-index: 100;
.content-form-w {
  border-bottom: 2px solid #f1f1f1;
  position: relative;
  span::after {
    content: "";
    height: 2px;
    width: 0%;
    background: black;
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: .5s;
    z-index: 100;
  }
}

  .content-form{
    width: 100%;
    height: 50px;
    display: block;
    font-size: large;
    text-align: left;
    border:none;
    background: none;
    outline: none;
    padding-top: 13px;
    padding-left: 20px;
    font-size: 20px;
    &.focus + span::after{
      width: 100%;
    }
  }
}

.content-btn-wrapper{
  width: 100%;
  height: 60px;
  border-bottom: 2px solid #f1f1f1;
  margin-top: 0;
  padding: 10px 10px;
  text-align: left;
  transition: all .5s;
  &.active{
    transform: translateY(0%);
  }
}




