// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.userform-bg{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: #f1f1f1;
}

.session-form{
  background-color: white;
  width: 360px;
  height: 540px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 20px 10px;
  border-radius: 7rem;
  box-sizing: border-box;
  h1{
    margin-bottom: 60px;
  }


}

.field{
  border-bottom: 2px solid #cccccc;
  margin-bottom: 50px;
  position: relative;
  input{
    border: none;
    background: none;
    outline: none;
    font-size: 15px;
    height: 40px;
    width: 100%;
  }
  span::before{
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    z-index: -1;
    transition: .5s;
  }
  span::after{
    content: "";
    width: 0%;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    height: 2px;
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: .5s;
  }
}
.focus + span::before{
  top: -5px;
}

.focus + span::after{
  width: 100%;
}


.remember-field{
  position: relative;
  span{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: smaller;
    font-weight: lighter;
  }
}

.form-btn{
  width: 100%;
  background: limegreen;
  border-radius: 3rem;
  margin: 40px 0 20px 0;
  height: 40px;
  color: #f1f1f1;
  font-size: 20px;
  &:hover{
    background: #999999;
  }
}

.session-links{
  text-align: center;
}

//timetable
.pre-sem{
  display: none;
}

.sem-button{
　margin: 10px 0px 20px 0px;
  height: 30px;
}

.time-table{
  width: 100%;
  min-height: 100vh;

  padding: 0;

  table{
    width: 540px;
    height: 600px;


    text-align: center;
    th{
      text-align: center;
    }
    td{
      span{
        display: block;
      }
    }
  }
}


